// Import Bulma's core
@import "~bulma/sass/utilities/_all";


//$scheme-main: hsl(20, 34%, 10%);


//Card user property
$card-header-shadow: none;
$card-radius: 0.9rem;
$card-content-padding: 1rem;
$card-header-padding: 0.75rem 0.5rem;


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
